.btn-back-container {
  display: flex;
  margin-left: 2rem;
  margin-top: 6rem;
  position: relative;
}

.btn-back {
  background-color: transparent !important;
  color: var(--dark-blue);
  font-size: x-large;
  font-weight: 800;
  margin: 0 !important;
  padding: 0 !important;
}

.btn-back:hover {
  background-color: transparent !important;
}

.btn-back-img {
  height: 40px;
  margin-right: 5px;
  margin-top: 6px;
  width: auto;
}

.no-comics-message {
  display: flex;
  justify-content: center;
  margin: 25px;
}
