.span-btn-close-publish {
    margin-left: 60% !important;
}

.publish-form {
    padding: 0rem 1rem;
}

.form-group-div {
    display: flex;
    gap: 20px;
}

.publish-form-group {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.publish-form-group select {
    height: 45px;
    margin-bottom: auto;
    margin-top: auto;
}

.image-upload-div input {
    border: 2px dashed rgb(0, 135, 94, 0.4) !important;
    min-height: 70px;
}

.span-red {
    color: rgb(196, 16, 16);
}